# Environment
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
/static_root/

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.db

# Redis dump
dump.rdb

# Docker
docker-compose.override.yml

# Testing & Coverage
.coverage
.pytest_cache/
htmlcov/
.tox/

# Distribution / packaging
*.manifest
*.spec

# Jupyter Notebook (kalau dipakai untuk data exploration)
.ipynb_checkpoints
